<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="resources/css/main.css">
</head>
<body>
    <header class='header'>
        <img class='logo' src="https://www.justtikit.com/wp-content/uploads/2021/01/final-logo-example.png" alt="Logo">
        <nav>
            <ul class="nav-links">
                <li><a href="##">Page 1</a></li>
                <li><a href="##">Page 2</a></li>
                <li><a href="##">Page 3</a></li>
            </ul>
        </nav>

    </header>
</body>
</html>