<div class="form_title">
    <i class="fa-solid fa-boxes-stacked"></i>
    <span>Add new product</span>
</div>
<form action="/newProduct" method="POST" enctype="multipart/form-data">
    
    <div class="form_section">
        <span>Product name</span>
        <input type="text" name="name" id="" placeholder="Product name" required />
    </div>
    <div class="form_section">
        <span>Description</span>
        <textarea name="description" id="" cols="30" rows="10" required></textarea>
    </div>
    <div class="form_section">
        <span>Price: </span>
        <input type="number" name="price" required/>
    </div>
    <div class="form_section">
        <span>Purchase</span>
        <input type="text" name="purchase" required />
    </div>
    <div class="form_section">
        <span>Category</span>
        <select name="category" id="" required>
            <% categories.map( element => { %>

                <option value="<%= element %>"><%= element.category %></option>

            <%})%>
        </select>
    </div>
    <div class="form_section">
        <span>Product image</span>
        <input type="file" name="img" accept="image/png, image/jpeg" required />
    </div>
    <div class="form_section">
        <input type="submit" value="Add product" />
    </div>
</form>