<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="resources/css/main.css">
</head>
<body>
    <h1 class="container">Inicio</h1>
     <% if(login) {%>
        <h1>Usuario conectado es: <strong><%= name %></strong></h1>
        <a href="/logout">Logout</a>
        <a href="/login">asdfa</a>
    <%} else {%>
        <h1>¿Qué haces acá?, ¡inicia sesión!</h1>
    <%}%>



</body>
</html>