<%- include('./partials/dashboard/header'); %>
    <div class="dashboard">
        <%- include('./partials/dashboard/index/metrics'); %>
    </div>
    
<%- include('./partials/dashboard/footer'); %>
