<%- include('./partials/dashboard/header'); %>
    <div class="dashboard">
        <div class="metrics">
            <div class="metric primary">12,500</div>
            <div class="metric danger">12,500</div>
            <div class="metric warning">12,500</div>
            <div class="metric success">12,500</div>
        </div>
    </div>
    
<%- include('./partials/dashboard/footer'); %>
