<%- include('./partials/dashboard/header'); %>
    <div class="dashboard">
        <div class="metrics">
            <div class="metric success">12,500<i class="fas fa-money-bill-wave"></i></div>
            <div class="metric danger">12,500<i class="fas fa-percentage"></i></div>
            <div class="metric primary">12,500<i class="fas fa-check"></i></div>
            <div class="metric warning">12,500<i class="fas fa-calendar-week"></i></div>
        </div>
    </div>
    
<%- include('./partials/dashboard/footer'); %>
