<%- include('./partials/headerDashboard'); %>
        <div class="dashboard">
            Acá va el dashboard
        </div>
    </div>
    <script src="https://kit.fontawesome.com/62c0cdcf73.js" crossorigin="anonymous"></script>
</body>
</html>