<%- include('./partials/dashboard/header'); %>

    <div class="dashboard">
        <%- include('./partials/users/metrics'); %>

        <div class="users">
            <%- include('./partials/users/usersTable'); %>
        </div>
    </div>
    
<%- include('./partials/dashboard/footer'); %>