<%- include('./partials/dashboard/header'); %>
    <div class="dashboard">
        <%- include('./partials/products/metrics'); %>

        <div class="products">
            <%- include('./partials/products/productsTable.ejs'); %>
        </div>

    </div>
    
<%- include('./partials/dashboard/footer'); %>
