<div class="metrics">
    <div class="metric success">
        <div class="text">
            <div class="number">12,500</div>
            <span>Total Products</span>
        </div>
        <i class="fas fa-box-open"></i>
    </div>
</div>