<div class="title">
    All Products
</div>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>product Id</th>
                <th>price</th>
                <th>category</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>  
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>  
            </tr>
        </tbody>

    </table>
</div>