<div class="title">
    All Products
</div>

<div class="list">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Costumer Id</th>
                <th>Sale</th>
                <th>ticket</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>  
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>  
            </tr>
        </tbody>

    </table>
</div>