<div class="metrics">
    <div class="metric success">
        <div class="text">
            <div class="number"><%= total %></div>
            <span>Total users</span>
        </div>
        <i class="fa-solid fa-user"></i>
    </div>
</div>