<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="resources/css/account.css">
</head>
<body>

    <nav class="navbar-dashboard">
        <a href="/" class="title"><%= "Account Preferences" %></a>
        <div class="dropdown">
            <i class="fas fa-bars"></i>
            <div class="dropdown-content">
                <a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </nav>

    <div class="row">
        <aside>
            <a href="/change/username">Change Username</a>
            <a href="/change/password">Change Password</a>
            <a href="##" class="disabled">Coming Soon...</a>

            

        </aside>            