@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto';
    background-color: #f5f5f5;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************/
/*Navbar Styles*/
/********************************************/

.header {
    width: 85%;
    min-width: 1000px;
    margin-top: -85vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5vh;
    padding: 15px 5%;
    background-color: #cfcfcf;
    border-radius: 100px;
}

.logo {
    height: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    height: 90px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 50px;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: red;
}

/********************************************/
/*End Navbar Styles*/
/********************************************/

/********************************************/
/* Greet Styles*/
/********************************************/
.greet {
    margin: auto;
    margin-top: -55vh;
    position: absolute;
    text-align: center;
}

.greet-info ul li {
    display: inline-block;
    padding: 0 20px;
}

/* Login form */
.login-form,
.contenedor {
    width: 300px;
    margin: 0 auto;
}
.login-form h1 {
    text-align: center;
    color: midnightblue;
    font-size: 28px;
    padding: 70px 0 10px 0;
}

.login-form input[type='email'],
.login-form input[type='password'],
.login-form input[type='text'],
select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos boton LOGIN*/
.btn-login {
    width: 100%;
    padding: 15px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
.btn-login:hover,
.btn-login:active {
    color: #fff;
    background-color: #61428f;
    border-color: #61428f;
}
.btn-login:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

/* Estilos boton REGISTER*/
.btn-register {
    width: 100%;
    padding: 15px;
    background-color: #34d399;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-register:hover,
.btn-register:active {
    color: #fff;
    background-color: #10b981;
    border-color: #10b981;
}
.btn-register:focus {
    box-shadow: 0 0 0 3px #10b981;
}

/* Estilos de link para ir a LOGIN*/
.a-login:link,
.a-login:visited {
    background-color: white;
    color: black;
    border: 2px solid #10b981;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a-login:hover,
.a-login:active {
    background-color: #10b981;
    color: white;
}

/* Estilos de link para realizar el LOGOUT*/
.a-logout:link,
.a-logout:visited {
    background-color: white;
    color: black;
    border: 2px solid #f87171;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a-logout:hover,
.a-logout:active {
    background-color: #f87171;
    color: white;
}

/* Estilos boton CANCELAR*/
.btn-cancel {
    width: 50%;
    padding: 15px;
    background-color: #9ca3af;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-cancel:hover,
.btn-cancel:active {
    color: #fff;
    background-color: #6b7280;
    border-color: #6b7280;
}
.btn-cancel:focus {
    box-shadow: 0 0 0 3px #6b7280;
}

/* Estilos boton GUARDAR*/
.btn-save {
    width: 50%;
    padding: 15px;
    background-color: #1d4ed8;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    color: #ffffff;
    margin-top: 20px;
    /* Para dar la apariencia de un boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-save:hover,
.btn-save:active {
    color: #fff;
    background-color: #1e3a8a;
    border-color: #1e3a8a;
}
.btn-save:focus {
    box-shadow: 0 0 0 3px #1e3a8a;
}

/* form User Registration */
.register-form {
    width: 400px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
    margin-top: 35px;
    font-family: roboto;
    text-align: left !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.register-form h1 {
    text-align: left;
    color: midnightblue;
    font-size: 22px;
    padding: 70px 0 10px 0;
}
.register-form input[type='password'],
.register-form input[type='text'] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/********************************************/
/*Account Styles*/
/********************************************/
