.row {
    display: flex;
    position: relative;
    height: calc(100vh - 3em);

    aside {
        width: 13%;
        background: $dark;
        display: flex;
        flex-direction: column;

        a {
            padding: 0.8em 1em;
            text-align: left;
            color: $fontDarkBg;

            i {
                color: $fontDarkBg;
                font-size: 14px;
                margin-right: 0.5em;
            }
        }

        .active {
            background: $primary;
            color: white;

            i {
                color: white;
            }
        }
    }
}
