.productInformation {
    width: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    column-gap: 1em;

    .img {
        width: 100%;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
        }
    }

    .stats {
        padding: 1em 0.5em;
        div {
            display: flex;
            flex-direction: column;
            label {
                font-size: 20px;
                width: 100%;
                padding: 0.5em 0;
                border-bottom: 1px solid $dark;
                margin-bottom: 0.5em;
            }
        }
    }
}
