.productInformation {
    width: 85%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    column-gap: 1em;

    .img {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            object-fit: cover;
            height: 100%;
        }
    }

    .stats {
        padding: 1em 0.5em;
        div {
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                color: $primary;
            }
            div {
                width: 100%;
                padding: 1em;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin-top: 1em;
            a {
                border: none;
                background: $primary;
                padding: 0.5em 1em;
                color: white;
                &:hover {
                    background: darken($primary, 5);
                }
            }

            .delete {
                background: $danger;
                margin-left: 1.5em;
                &:hover {
                    background: darken($danger, 5);
                }
            }
        }
    }
}
