.productInformation {
    width: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    column-gap: 1em;

    img {
        width: 100%;
    }
}
