<div class="pagination">
    <%for(let i = 0; i < total; i+=10){%>
        <% if (typeof auxdate != 'undefined') {%>
            <a href="/?date=<%= auxdate %>&page=<%= (i/10)+1 %>"><%= (i/10)+1 %></a>
        <% } %>
    <%}%>
</div>