<div class="metrics">
    <div class="metric success">
        <div class="text">
            <div class="number">
                Costumers
            </div>
            <span>Total costumers</span>
        </div>
        <i class="fa-solid fa-users"></i>
    </div>
    
</div>