<div class="graphics">
    <div class="select">
        <form class="date" method="POST" action="/customDate">
            <div class="text">
                Reporting year: 
                <input type="number" min="1900" max="2099" step="1" value="2016" name="date" />
            </div>
            
            <input type="submit" value="Submit">
        </form>
        <div class="mouth box">
            Average sales by mouth.
        </div>
        <div class="year box">
            Total sales.
        </div>
    </div>
    <div class="sales">
        <%- include('./showSales'); %>
    </div>
    
</div>