<div class="graphics">
    <div class="select">
        <form class="date" method="GET" action="/sales/">
            <div class="text">
                Reporting year:
                <input type="number" min="2010" max="2099" step="1" value="<%= auxdate %>" name="date" />
            </div>

            <input type="submit" value="Submit">
        </form>
        <div class="mouth box" style="text-align: center;">
            Average sales by mounth.
                                
            <div class="maxMonth" style="--wcontent: <%= percent %>%"><%= percent%>%</div>

        </div>
        <div class="year box">
            Total sales.
        </div>
    </div>
    <div class="sales">
        <%- include('./showSales'); %>
    </div>

</div>