<div class="graphics">
    <div class="select">
        <form class="date" method="GET" action="/sales/">
            <div class="text">
                Reporting year:
                <input type="number" min="2010" max="2099" step="1" value="<%= auxdate %>" name="date" />
            </div>

            <input type="submit" value="Submit">
        </form>
        <div class="mouth box" style="text-align: center;">
            Average sales by mouth.

            <!-- <svg width="210" height="105" viewBox="0 0 210 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M210 105C210 91.2112 207.31 77.5574 202.083 64.8182C196.857 52.0791 189.196 40.5039 179.539 30.7538C169.882 21.0036 158.417 13.2694 145.799 7.99265C133.181 2.7159 119.657 -6.02727e-07 106 0L106 26.25C116.243 26.25 126.386 28.2869 135.849 32.2445C145.313 36.202 153.911 42.0027 161.154 49.3153C168.397 56.628 174.143 65.3093 178.063 74.8637C181.982 84.4181 184 94.6584 184 105H210Z" fill="#C4C4C4" fill-opacity="0.3"/>
                <path d="M104 0C90.3425 -1.6443e-07 76.8188 2.71591 64.2009 7.99265C51.5831 13.2694 40.1182 21.0036 30.4609 30.7538C20.8036 40.5039 13.143 52.0791 7.91652 64.8183C2.69004 77.5574 -2.06222e-06 91.2112 0 105L26 105C26 94.6584 28.0175 84.4181 31.9374 74.8637C35.8573 65.3093 41.6027 56.628 48.8457 49.3153C56.0886 42.0027 64.6873 36.202 74.1507 32.2445C83.6141 28.2869 93.7569 26.25 104 26.25L104 0Z" fill="#C4C4C4" fill-opacity="0.3"/>
                <rect x="104" width="2" height="25" fill="#00D1FF" fill-opacity="0.64"/>
            </svg> -->
                                
            <div class="maxMonth" style="--wcontent: 20%">Max</div>

        </div>
        <div class="year box">
            Total sales.
        </div>
    </div>
    <div class="sales">
        <%- include('./showSales'); %>
    </div>

</div>