<div class="graphics">
    <div class="date">
        <div class="header">
            date: <input type="number" min="1900" max="2099" step="1" value="2016" />
        </div>
        <div class="mouth">
            Average sales by mouth.
        </div>
        <div class="year">
            Total sales.
        </div>
    </div>
    <div class="graphic">
        Graphic here
    </div>
    
</div>