<div class="title">
    All sales
</div>

<div class="list">
    <table>
        <tr>
            <th>id</th>
            <th>Costumer Id</th>
            <th>Sale</th>
            <th>ticket</th>
            <th>date</th>
        </tr>
       
    </table>
</div>