<div class="title">
    All sales
</div>

<div class="list">
    <table>
        <tr>
            <th>id</th>
            <th>Costumer Id</th>
            <th>Sale</th>
            <th>ticket</th>
            <th>date</th>
        </tr>
        
        <% allSales.forEach(sale => {  %>
            <tr>
                <td><%= sale.idSale %></td>
                <td><%= sale.costumer %></td>

            </tr>
        <%})%>

    </table>
</div>